gin/.babelrc
gin/.browserslistrc
gin/.editorconfig
gin/.eslintignore
gin/.gitattributes
gin/.gitignore
gin/.gitlab-ci.yml
gin/.nvmrc
gin/CODE_OF_CONDUCT.md
gin/composer.json
gin/gin.api.php
gin/gin.info.yml
gin/gin.libraries.yml
gin/gin.theme
gin/LICENSE.txt
gin/logo.png
gin/package-lock.json
gin/package.json
gin/phpcs.xml
gin/README.md
gin/screenshot.png
gin/SECURITY.md
gin/webpack.config.build.js
gin/webpack.config.dev.js
gin/webpack.config.js
gin/.github/FUNDING.yml
gin/.tugboat/config.yml
gin/config/install/gin.settings.yml
gin/config/optional/block.block.gin_breadcrumbs.yml
gin/config/optional/block.block.gin_content.yml
gin/config/optional/block.block.gin_help.yml
gin/config/optional/block.block.gin_local_actions.yml
gin/config/optional/block.block.gin_messages.yml
gin/config/optional/block.block.gin_page_title.yml
gin/config/optional/block.block.gin_primary_local_tasks.yml
gin/config/optional/block.block.gin_secondary_local_tasks.yml
gin/config/schema/gin.schema.yml
gin/dist/css/base/gin.css
gin/dist/css/components/ajax.css
gin/dist/css/components/autocomplete.css
gin/dist/css/components/autosave.css
gin/dist/css/components/breadcrumb.css
gin/dist/css/components/chosen.css
gin/dist/css/components/ckeditor.css
gin/dist/css/components/ckeditor5.css
gin/dist/css/components/coffee.css
gin/dist/css/components/contextual_links.css
gin/dist/css/components/description_toggle.css
gin/dist/css/components/dialog.css
gin/dist/css/components/dropzonejs.css
gin/dist/css/components/edit_form.css
gin/dist/css/components/entity_browser.css
gin/dist/css/components/entity_reference_layout.css
gin/dist/css/components/inline_entity_form.css
gin/dist/css/components/layout_paragraphs_2.0.css
gin/dist/css/components/layout_paragraphs.css
gin/dist/css/components/linkit.css
gin/dist/css/components/maintenance_page.css
gin/dist/css/components/media_library.css
gin/dist/css/components/module_filter.css
gin/dist/css/components/more_actions.css
gin/dist/css/components/node_preview.css
gin/dist/css/components/paragraphs.css
gin/dist/css/components/responsive_preview.css
gin/dist/css/components/revisions.css
gin/dist/css/components/settings_tray_edit.css
gin/dist/css/components/settings_tray.css
gin/dist/css/components/settings.css
gin/dist/css/components/sidebar.css
gin/dist/css/components/tableselect.css
gin/dist/css/components/tabs.css
gin/dist/css/components/term_reference_tree.css
gin/dist/css/components/toolbar_secondary.css
gin/dist/css/components/toolbar.css
gin/dist/css/components/tooltip.css
gin/dist/css/components/top_bar.css
gin/dist/css/components/upgrade_status.css
gin/dist/css/components/webform.css
gin/dist/css/components/workbench.css
gin/dist/css/components/workspaces.css
gin/dist/css/deprecated/project_browser.css
gin/dist/css/layout/classic_toolbar.css
gin/dist/css/layout/core_navigation.css
gin/dist/css/layout/horizontal_toolbar.css
gin/dist/css/layout/navigation.css
gin/dist/css/layout/toolbar.css
gin/dist/css/theme/accent.css
gin/dist/css/theme/ckeditor.css
gin/dist/css/theme/dialog.css
gin/dist/css/theme/font.css
gin/dist/css/theme/variables.css
gin/dist/js/accent.js
gin/dist/js/core_navigation.js
gin/dist/js/description_toggle.js
gin/dist/js/dropbutton.js
gin/dist/js/escape_admin.js
gin/dist/js/gin_ckeditor.js
gin/dist/js/init.js
gin/dist/js/messages.js
gin/dist/js/more_actions.js
gin/dist/js/settings.js
gin/dist/js/sidebar.js
gin/dist/js/sticky.js
gin/dist/js/tableheader.js
gin/dist/js/toolbar.js
gin/dist/js/tooltip.js
gin/dist/media/sprite.svg
gin/dist/media/font/inter.woff2
gin/dist/media/settings/custom-color.jpg
gin/dist/media/settings/layout_density_default_darkmode.png
gin/dist/media/settings/layout_density_default.png
gin/dist/media/settings/layout_density_medium.png
gin/dist/media/settings/layout_density_small_darkmode.png
gin/dist/media/settings/layout_density_small.png
gin/dist/media/settings/toolbar_legacy_darkmode.png
gin/dist/media/settings/toolbar_legacy.png
gin/dist/media/settings/toolbar_minimal_darkmode.png
gin/dist/media/settings/toolbar_minimal.png
gin/dist/media/settings/toolbar_new_darkmode.png
gin/dist/media/settings/toolbar_new.png
gin/dist/media/settings/toolbar_sidebar_darkmode.png
gin/dist/media/settings/toolbar_sidebar.png
gin/includes/breadcrumb.theme
gin/includes/form.theme
gin/includes/helper.theme
gin/includes/html.theme
gin/includes/local_actions.theme
gin/includes/modules.theme
gin/includes/node.theme
gin/includes/page.theme
gin/includes/paragraphs.theme
gin/includes/settings.theme
gin/includes/theme.theme
gin/includes/toolbar.theme
gin/includes/top_bar.theme
gin/js/accent.js
gin/js/core_navigation.js
gin/js/description_toggle.js
gin/js/dropbutton.js
gin/js/escape_admin.js
gin/js/gin_ckeditor.js
gin/js/init.js
gin/js/messages.js
gin/js/more_actions.js
gin/js/settings.js
gin/js/sidebar.js
gin/js/sticky.js
gin/js/tableheader.js
gin/js/toolbar.js
gin/js/tooltip.js
gin/js/libs/once.js
gin/js/libs/scrollsync.js
gin/js/navigation/navigation.js
gin/js/navigation/vendor/floating-ui/floating-ui.core.umd.js
gin/js/navigation/vendor/floating-ui/floating-ui.dom.umd.js
gin/js/overrides/media_embed_ckeditor.theme.js
gin/js/overrides/media_library.view.js
gin/js/overrides/tabledrag.js
gin/js/overrides/tableselect.js
gin/js/overrides/webform_ui.js
gin/media/font/inter.woff2
gin/media/icons/action-link/checkmark.svg
gin/media/icons/action-link/hide.svg
gin/media/icons/action-link/remove.svg
gin/media/icons/action-link/show.svg
gin/media/icons/action-link/trash.svg
gin/media/icons/form/asterisk.svg
gin/media/icons/form/checked.svg
gin/media/icons/form/toggle-unchecked.svg
gin/media/icons/general/add.svg
gin/media/icons/general/calendar.svg
gin/media/icons/general/circle.svg
gin/media/icons/general/close.svg
gin/media/icons/general/drop.svg
gin/media/icons/general/drupal.svg
gin/media/icons/general/gin.svg
gin/media/icons/general/handle.svg
gin/media/icons/general/loader.svg
gin/media/icons/general/more.svg
gin/media/icons/general/sidebar.svg
gin/media/icons/general/tool.svg
gin/media/icons/media-library/grid.svg
gin/media/icons/media-library/list.svg
gin/media/icons/media-library/media-edit.svg
gin/media/icons/media-library/media-remove.svg
gin/media/icons/messages/error.svg
gin/media/icons/messages/info.svg
gin/media/icons/messages/question.svg
gin/media/icons/messages/status.svg
gin/media/icons/messages/warning.svg
gin/media/icons/navigation/announcement.svg
gin/media/icons/navigation/block.svg
gin/media/icons/navigation/blocks.svg
gin/media/icons/navigation/bookmarks.svg
gin/media/icons/navigation/chevron-down.svg
gin/media/icons/navigation/create.svg
gin/media/icons/navigation/extend-new.svg
gin/media/icons/navigation/files.svg
gin/media/icons/navigation/media.svg
gin/media/icons/navigation/people-new.svg
gin/media/icons/pager/first.svg
gin/media/icons/pager/last.svg
gin/media/icons/pager/next.svg
gin/media/icons/pager/prev.svg
gin/media/icons/status-report/clock.svg
gin/media/icons/status-report/database.svg
gin/media/icons/status-report/php.svg
gin/media/icons/status-report/server.svg
gin/media/icons/table/drag-dots.svg
gin/media/icons/table/drag-x.svg
gin/media/icons/table/drag-y.svg
gin/media/icons/table/drag.svg
gin/media/icons/table/sort-asc.svg
gin/media/icons/table/sort-desc.svg
gin/media/icons/table/sort.svg
gin/media/icons/toolbar/appearance.svg
gin/media/icons/toolbar/bat.svg
gin/media/icons/toolbar/commerce.svg
gin/media/icons/toolbar/config.svg
gin/media/icons/toolbar/content.svg
gin/media/icons/toolbar/edit.svg
gin/media/icons/toolbar/extend.svg
gin/media/icons/toolbar/fallback.svg
gin/media/icons/toolbar/group.svg
gin/media/icons/toolbar/hamburger.svg
gin/media/icons/toolbar/help.svg
gin/media/icons/toolbar/local-tasks.svg
gin/media/icons/toolbar/nav-toggle-toleft.svg
gin/media/icons/toolbar/nav-toggle-totop.svg
gin/media/icons/toolbar/people.svg
gin/media/icons/toolbar/reports.svg
gin/media/icons/toolbar/structure.svg
gin/media/icons/toolbar/tmgmt.svg
gin/media/icons/toolbar/trash-module.svg
gin/media/icons/toolbar/webform.svg
gin/media/icons/toolbar-meta/backtosite.svg
gin/media/icons/toolbar-meta/devel.svg
gin/media/icons/toolbar-meta/rebuild-cache.svg
gin/media/icons/toolbar-meta/responsive-preview.svg
gin/media/icons/toolbar-meta/search.svg
gin/media/icons/toolbar-meta/shortcut-filled.svg
gin/media/icons/toolbar-meta/shortcut.svg
gin/media/icons/toolbar-meta/user.svg
gin/media/settings/custom-color.jpg
gin/media/settings/layout_density_default_darkmode.png
gin/media/settings/layout_density_default.png
gin/media/settings/layout_density_medium_darkmode.png
gin/media/settings/layout_density_medium.png
gin/media/settings/layout_density_small_darkmode.png
gin/media/settings/layout_density_small.png
gin/media/settings/toolbar_legacy_darkmode.png
gin/media/settings/toolbar_legacy.png
gin/media/settings/toolbar_minimal_darkmode.png
gin/media/settings/toolbar_minimal.png
gin/media/settings/toolbar_new_darkmode.png
gin/media/settings/toolbar_new.png
gin/media/settings/toolbar_sidebar_darkmode.png
gin/media/settings/toolbar_sidebar.png
gin/src/GinAfterBuild.php
gin/src/GinContentFormHelper.php
gin/src/GinDescriptionToggle.php
gin/src/GinNavigation.php
gin/src/GinPreRender.php
gin/src/GinSettings.php
gin/src/GinUserPicture.php
gin/styles/gin.scss
gin/styles/base/_action-link.scss
gin/styles/base/_admin-item.scss
gin/styles/base/_batch.scss
gin/styles/base/_blocks.scss
gin/styles/base/_body.scss
gin/styles/base/_button.scss
gin/styles/base/_card.scss
gin/styles/base/_claro_improvements.scss
gin/styles/base/_color-overrides.scss
gin/styles/base/_divider.scss
gin/styles/base/_dropbutton.scss
gin/styles/base/_elements.scss
gin/styles/base/_extend.scss
gin/styles/base/_field-ui.scss
gin/styles/base/_focus.scss
gin/styles/base/_form.scss
gin/styles/base/_help.scss
gin/styles/base/_image-preview.scss
gin/styles/base/_insert.scss
gin/styles/base/_layers.scss
gin/styles/base/_local-actions.scss
gin/styles/base/_maxlength.scss
gin/styles/base/_messages.scss
gin/styles/base/_pager.scss
gin/styles/base/_panel.scss
gin/styles/base/_permissions.scss
gin/styles/base/_progress.scss
gin/styles/base/_quotation.scss
gin/styles/base/_regions.scss
gin/styles/base/_status-report.scss
gin/styles/base/_status.scss
gin/styles/base/_system-diff.scss
gin/styles/base/_system-modules.scss
gin/styles/base/_system-report.scss
gin/styles/base/_system-themes.scss
gin/styles/base/_table.scss
gin/styles/base/_tabledrag.scss
gin/styles/base/_taxonomy.scss
gin/styles/base/_title.scss
gin/styles/base/_tour.scss
gin/styles/base/_update.scss
gin/styles/base/_views.scss
gin/styles/components/ajax.scss
gin/styles/components/autocomplete.scss
gin/styles/components/autosave.scss
gin/styles/components/breadcrumb.scss
gin/styles/components/chosen.scss
gin/styles/components/ckeditor.scss
gin/styles/components/ckeditor5.scss
gin/styles/components/coffee.scss
gin/styles/components/contextual_links.scss
gin/styles/components/description_toggle.scss
gin/styles/components/dialog.scss
gin/styles/components/dropzonejs.scss
gin/styles/components/edit_form.scss
gin/styles/components/entity_browser.scss
gin/styles/components/entity_reference_layout.scss
gin/styles/components/inline_entity_form.scss
gin/styles/components/layout_paragraphs_2.0.scss
gin/styles/components/layout_paragraphs.scss
gin/styles/components/linkit.scss
gin/styles/components/maintenance_page.scss
gin/styles/components/media_library.scss
gin/styles/components/module_filter.scss
gin/styles/components/more_actions.scss
gin/styles/components/node_preview.scss
gin/styles/components/paragraphs.scss
gin/styles/components/responsive_preview.scss
gin/styles/components/revisions.scss
gin/styles/components/settings_tray_edit.scss
gin/styles/components/settings_tray.scss
gin/styles/components/settings.scss
gin/styles/components/sidebar.scss
gin/styles/components/tableselect.scss
gin/styles/components/tabs.scss
gin/styles/components/term_reference_tree.scss
gin/styles/components/toolbar_secondary.scss
gin/styles/components/toolbar.scss
gin/styles/components/tooltip.scss
gin/styles/components/top_bar.scss
gin/styles/components/upgrade_status.scss
gin/styles/components/webform.scss
gin/styles/components/workbench.scss
gin/styles/components/workspaces.scss
gin/styles/deprecated/project_browser.scss
gin/styles/helpers/_mq.scss
gin/styles/helpers/_svg-sprite.scss
gin/styles/helpers/_toolbar-icons.scss
gin/styles/helpers/_tools.scss
gin/styles/helpers/_vars.scss
gin/styles/layout/classic_toolbar.scss
gin/styles/layout/core_navigation.scss
gin/styles/layout/horizontal_toolbar.scss
gin/styles/layout/navigation.scss
gin/styles/layout/toolbar.scss
gin/styles/navigation/admin-toolbar.scss
gin/styles/navigation/toolbar-block.scss
gin/styles/navigation/toolbar-link.scss
gin/styles/navigation/toolbar-menu.scss
gin/styles/navigation/tooltip.scss
gin/styles/navigation/variables.scss
gin/styles/theme/accent.scss
gin/styles/theme/ckeditor.scss
gin/styles/theme/dialog.scss
gin/styles/theme/font.scss
gin/styles/theme/variables.scss
gin/templates/html.html.twig
gin/templates/admin/admin-block-content.html.twig
gin/templates/admin/admin-block.html.twig
gin/templates/admin/block-content-add-list.html.twig
gin/templates/admin/entity-add-list.html.twig
gin/templates/admin/node-add-list.html.twig
gin/templates/admin/update-project-status.html.twig
gin/templates/dataset/table--simple.html.twig
gin/templates/dataset/table.html.twig
gin/templates/entity/page--entity-browser--iframe.html.twig
gin/templates/form/checkboxes.html.twig
gin/templates/form/confirm-form.html.twig
gin/templates/form/datetime-wrapper.html.twig
gin/templates/form/details.html.twig
gin/templates/form/fieldset.html.twig
gin/templates/form/form-element.html.twig
gin/templates/form/input--checkbox.html.twig
gin/templates/form/input--submit--paragraph-action.html.twig
gin/templates/form/links--dropbutton.html.twig
gin/templates/form/text-format-wrapper.html.twig
gin/templates/media/media-reference-help.html.twig
gin/templates/misc/announcements-feed-admin.html.twig
gin/templates/misc/help-section.html.twig
gin/templates/misc/status-messages.html.twig
gin/templates/navigation/breadcrumb--navigation.html.twig
gin/templates/navigation/breadcrumb.html.twig
gin/templates/navigation/container--administration-menu.html.twig
gin/templates/navigation/fix-toolbar-js-error.html.twig
gin/templates/navigation/menu--toolbar--gin.html.twig
gin/templates/navigation/menu-region--bottom.html.twig
gin/templates/navigation/menu-region--middle.html.twig
gin/templates/navigation/menu-region--top.html.twig
gin/templates/navigation/navigation--gin.html.twig
gin/templates/navigation/navigation-menu.html.twig
gin/templates/navigation/navigation.html.twig
gin/templates/navigation/toolbar--gin--secondary.html.twig
gin/templates/navigation/toolbar--gin.html.twig
gin/templates/navigation/top-bar--gin.html.twig
gin/templates/node/node-edit-form.html.twig
gin/templates/page/page--clone.html.twig
gin/templates/page/page--group.html.twig
gin/templates/page/page--layout-builder.html.twig
gin/templates/page/page--node-add.html.twig
gin/templates/page/page--node.html.twig
gin/templates/page/page.html.twig
gin/templates/regions/region.html.twig
gin/templates/system/status-report-counter.html.twig
gin/templates/system/status-report-general-info.html.twig
gin/templates/system/status-report-grouped.html.twig
gin/templates/system/system-themes-page.html.twig
gin/templates/views/views-view-field--status.html.twig
gin/templates/views/views-view-table.html.twig
gin/templates/views/views-view.html.twig
gin/tests/src/Functional/GinTest.php
