nav[aria-labelledby="pagination-heading"] {
    margin: 10px 0;
    ul.js-pager__items {
      display: flex;
      justify-content: center;
      padding-left: 0;
      padding-right: 0;
      flex-wrap: wrap;
      gap: 10px;
      li {
        list-style: none;
        color: #E53637;
        &.is-active a {
          color: #E53637;
          background-color: #fff;
          border: 1px solid #E53637;
        }
        a {
          text-decoration: none;
          padding: 5px 12px;
          background: #E53637;
          color: #fff;
          border-radius: 3px;
          transition: all 0.3s;
          &:hover {
            background: #151515;
            color: #fff;
            border-color: #151515;
          }
        }
      }
    }
  }
  